@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A39345, #95F0EC);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F0DC7D
}

h2 {
    color: #F065D4
}

p {
   text-align: justify; 
}