@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

/* body {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    
}
*/

body {
    background-color: #22212C;
    color: #837E9F;
}

.card {
    background-color: #302F3D;
}

.techs {
    background-color: #CB92B1;
}