/* Regras gerais */ 
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

/* Menu navegação */

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    color: var( --text-color);
    /*background-color: var( --body-bg-color);*/
}

#container-profile {
    /* background-color: var( --bg-cards); */
    border: 1px solid red;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

#container-profile > picture > img {
    width: 120px;
    height: 120px;
    border: 3px solid rgb(15, 243, 15);
    margin: 5px 5px 5px 5px;
    border-radius: 90px;  
}


#container-info {
    /* background-color: var( --bg-cards); */
    border: 1px solid red;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

#container-info > a {
    text-decoration: none;
    display: block;
}

#container-tech {
    /* background-color: var( --bg-cards); */
    border: 1px solid red;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

#container-tech > a {
    text-decoration: none;
    display: block;
}

#container-job {
    /* background-color: var( --bg-cards); */
    border: 1px solid red;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

#container-school {
    /* background-color: var( --bg-cards); */
    border: 1px solid red;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

/* Conteúdo */

#container-projects {
    /* background-color: var( --bg-cards); */
    border: 1px solid blue;
    border-radius: 20px;
    width: 1500px;
    height: 250px;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 30px;
    left: 350px;
    display: flex;
    justify-content: space-between;
}

.container-cards {
    /* background-color: var( --bg-cards); */
    position: absolute;
    top: 310px;
    left: 350px;
    display: flex;
    justify-content: space-between;
}

#card1 {
    border: 1px solid blue;
    border-radius: 20px;
    width: 725px;
    height: 250px;
    padding: 20px 20px 20px 20px;

}

#card2 {
    border: 1px solid blue;
    border-radius: 20px;
    width: 725px;
    height: 250px;
    padding: 20px 20px 20px 20px;
    margin-left: 50px;

}

#container-recent-posts {
    /* background-color: var( --bg-cards); */
    border: 1px solid blue;
    border-radius: 20px;
    width: 1500px;
    height: 250px;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 592px;
    left: 350px;
}

#container-posts {
    /* background-color: var( --bg-cards); */
    border: 1px solid blue;
    border-radius: 20px;
    width: 1500px;
    height: 250px;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 872px;
    left: 350px;
}

#container-posts > picture > img {
    width: 120px;
    height: 120px;
    border: 1px solid var ( --bg-cards);
    margin: 5px 5px 5px 5px;
    border-radius: 90px;  
}

/* Footer */ 

footer {
    text-align: center;
    padding: 20px;
}